/* Container flex layout */
.collection-page-main-container {
    display: flex;
    flex-direction: row;
    /* overflow-y: scroll; */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-color: transparent transparent; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.c-p-m-c {
    overflow-y: scroll;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-color: transparent transparent; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.c-p-m-c::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

@media (max-width:1000px) {
    .collection-page-main-container{
        display: block;
    }
}
