/* Container flex layout */
.main-container {
    display: flex;
}
.product-collection-container{
    flex: 1; /* Allow this container to take up remaining space */
}

/* Product card grid layout */
.product-list-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 1rem;
    /* flex: 1; */
    /* height: calc(100vh - 4rem);
    box-sizing: border-box; /* Ensure padding is included in height calculation */
}



/* 2-column layout on small screens */
@media (max-width: 800px) {
    .product-list-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1vw;
        padding: 0.5vw;
    }
    .product-card-box{
        width: 48vw;
    }
}