<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # RewriteBase /
  
  # If the request is not for a real directory or file, rewrite to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !index
  RewriteRule (.*) index.html [L]
</IfModule>
